<div class="navbar-container">
  <div class="bg-dark navbar-dark" data-sticky="top">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
          <img alt="Wingman" src="assets/img/logo-white.svg" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="icon-menu h4"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            
          </ul>

          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="#">Sign up</a>
                  <span>&nbsp;or&nbsp;</span><a href="#">Sign in</a>
              </li>
          </ul>

        </div>
        <!--end nav collapse-->
        
      </nav>
    </div>
    <!--end of container-->
  </div>
</div>

<router-outlet></router-outlet>

<footer class="bg-gray text-light footer-long">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-3">
              <img alt="Image" src="assets/img/logo-white.svg" class="mb-4" />
              <p class="text-muted">
                  &copy; 2018 Almaty
                  <br />KBTU students' rights
              </p>
          </div>
          <!--end of col-->
          <div class="col-12 col-md-9">
              <span class="h5">Contact us if you want to order project. Tel: +7(777)-210-7915</span>
              <!--end of row-->
          </div>
          <!--end of col-->
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</footer>


