<div class="main-container">
  <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
      <!--end of container-->
  </nav>
  <section>
      <div class="container">
          <div class="row justify-content-center align-items-center">
              <div class="col">
                  <div class="media align-items-center">
                      <div class="media-body">
                          <div class="mb-3">
                              <h1 class="h2 mb-2">Faculties</h1>
                              <span>Useful for listing associated members of a group</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <!--end of section-->
  <section class="flush-with-above">
      <div class="container">
          <div class="row">
              <div class="col">
                  <table class="table table-hover align-items-center table-borderless">
                      <thead>
                          <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Location</th>
                              <th scope="col"></th>
                          </tr>
                      </thead>
                      <tbody>

                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">FIT
                                          </span>
                                          <span class="text-muted">Codebusters</span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>Ablaykhana 2 floor</td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-dots-three-horizontal"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Contact</a>
                                          <a class="dropdown-item" href="#">Assign</a>
                                          <a class="dropdown-item" href="#">Share</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Remove</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">ISE
                                          </span>
                                          <span class="text-muted">Scromnye majory</span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>Panfilova 3 floor</td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-dots-three-horizontal"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Contact</a>
                                          <a class="dropdown-item" href="#">Assign</a>
                                          <a class="dropdown-item" href="#">Share</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Remove</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">BS
                                          </span>
                                          <span class="text-muted">Show off</span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>Ablaykhana 4 floor</td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-dots-three-horizontal"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Contact</a>
                                          <a class="dropdown-item" href="#">Assign</a>
                                          <a class="dropdown-item" href="#">Share</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Remove</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">KMA
                                          </span>
                                          <span class="text-muted">Vodolei</span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>Podzemel'e</td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-dots-three-horizontal"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Contact</a>
                                          <a class="dropdown-item" href="#">Assign</a>
                                          <a class="dropdown-item" href="#">Share</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Remove</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">RECMC
                                          </span>
                                          <span class="text-muted">Eto ne professiya</span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>Tam gde Zhumadil'daev</td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-dots-three-horizontal"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Contact</a>
                                          <a class="dropdown-item" href="#">Assign</a>
                                          <a class="dropdown-item" href="#">Share</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Remove</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">FEOGI
                                          </span>
                                          <span class="text-muted">Budushee ne za vami</span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>Politekh</td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-dots-three-horizontal"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Contact</a>
                                          <a class="dropdown-item" href="#">Assign</a>
                                          <a class="dropdown-item" href="#">Share</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Remove</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>
                          <tr class="bg-white">
                              <th scope="row">
                                  <div class="media align-items-center">
                                      <img alt="Image" src="" class="avatar" />
                                      <div class="media-body">
                                          <span class="h6 mb-0">SCE
                                          </span>
                                          <span class="text-muted">Vy kto?</span>
                                      </div>
                                  </div>
                              </th>
                              <td>daniel.cameron@wingman.co</td>
                              <td>Ne izvestno</td>
                              <td>
                                  <div class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-dots-three-horizontal"></i>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Contact</a>
                                          <a class="dropdown-item" href="#">Assign</a>
                                          <a class="dropdown-item" href="#">Share</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Remove</a>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr class="table-divider"></tr>                                 
                      </tbody>
                  </table>
              </div>
              <!--end of col-->
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <!--end of section-->
</div>


<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
<script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.polyfills.js"></script>
<script type="text/javascript" src="assets/js/prism.js"></script>
<script type="text/javascript" src="assets/js/zoom.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/theme.js"></script>




