<div class="main-container">
    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Faculty:</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="teachers-tab" data-toggle="tab" href="#teachers" role="tab" aria-controls="teachers" aria-selected="true">Teachers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="subjects-tab" data-toggle="tab" href="#subjects" role="tab" aria-controls="subjects" aria-selected="false">Subjects</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="teachers" role="tabpanel" aria-labelledby="teachers-tab">
                <div class="container">
                    <div class="row">                        
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Daniel Cameron" src="assets/img/avatar-male-1.jpg" class="avatar" />
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Daniel Cameron</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> San Francisco, USA</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Follow">Rate
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="subjects" role="tabpanel" aria-labelledby="subjects-tab">
                <div class="container">
                    <div class="row">                        
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Daniel Cameron</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> San Francisco, USA</small>
                                            </div>
                                
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Follow">Comment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
